<!-- About-->
<section class="col" id="about">
    <h2 class="display-5 border-bottom">
        About
    </h2>
    <p class="lead">
        I'm a Ph.D. candidate at the <a href="https://informatik.rub.de/en/">Ruhr University Bochum</a>
        and member of the <a href="https://hgi.rub.de/en/">Horst Görtz Institute for IT Security</a>.
        Currently, I'm working as a research assistant at the
        <a href="https://www.itsec.uni-hannover.de/en/usec/">Usable Security and Privacy Section</a> of
        the <a href="https://www.uni-hannover.de/en/">Leibniz University Hannover</a>.
        I'm also part of the <a href="https://gwusec.seas.gwu.edu/">Usable Security and Privacy Lab</a>
        at the <a href="https://www.gwu.edu/">George Washington University</a>.
        My advisor is <a href="https://www.itsec.uni-hannover.de/en/usec/team/prof-dr-markus-duermuth/"
    >Prof. Dr. Markus Dürmuth</a>.
        My research interests lie in the intersection of information security, human-computer
        interaction (HCI), and privacy with an emphasis on authentication methods and privacy enhancing
        technology.
    </p>
</section>
