<!-- Education -->
<section class="col" id="education">
    <h2 class="display-5 border-bottom">
        Education
    </h2>
    <div class="row row-cols-1 g-3">
        <div class="col">
            <div class="row row-cols-1 row-cols-lg-auto justify-content-between">
                <div class="col">
                    <h3>Ph.D. Candidate</h3>
                    <div class="lead">Ruhr University Bochum, Mobile Security Group</div>
                    <div>Advisor: Prof. Dr. Markus Dürmuth</div>
                </div>
                <div class="col-auto"><span class="text-primary">October 2017 – present</span></div>
            </div>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-lg-auto justify-content-between">
                <div class="col">
                    <h3>M.Sc. in IT Security / Information Engineering</h3>
                    <div class="lead">Ruhr University Bochum</div>
                    <div>Overall Grade: Good (83/100) &middot; ECTS: B</div>
                </div>
                <div class="col-auto"><span class="text-primary">April 2015 – October 2017</span></div>
            </div>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-lg-auto justify-content-between">
                <div class="col">
                    <h3>B.Sc. in Computer Science</h3>
                    <div class="lead">University of Applied Science Dortmund</div>
                    <div>Overall Grade: Very Good &middot; ECTS: A</div>
                </div>
                <div class="col-auto"><span class="text-primary">September 2011 – March 2015</span></div>
            </div>
        </div>
    </div>
</section>
