<!-- Experience -->
<section class="col" id="experience">
    <h2 class="display-5 border-bottom">
        Experience
    </h2>
    <div class="row row-cols-1 g-3">
        <div class="col">
            <div class="row row-cols-1 row-cols-lg-auto justify-content-between">
                <div class="col">
                    <h3>Research Assitant</h3>
                    <div class="lead">Leibniz University Hannover</div>
                    <div>Hannover, Germany</div>
                </div>
                <div class="col-auto"><span class="text-primary">April 2022 – present</span></div>
            </div>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-lg-auto justify-content-between">
                <div class="col">
                    <h3>Visiting Researcher</h3>
                    <div class="lead">The George Washington University</div>
                    <div>Washington, D.C., USA</div>
                </div>
                <div class="col-auto"><span class="text-primary">February 2022 – March 2022</span></div>
            </div>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-lg-auto justify-content-between">
                <div class="col">
                    <h3>Research Assistant</h3>
                    <div class="lead">Ruhr University Bochum</div>
                    <div>Bochum, Germany</div>
                </div>
                <div class="col-auto"><span class="text-primary">October 2017 – April 2022</span></div>
            </div>
        </div>
    </div>
</section>
