<!-- Publications -->
<section class="col" id="publications">
    <h2 class="display-5 border-bottom">
        Publications
    </h2>
    <div class="row row-cols-1 g-3">
        <div class="col">
            <h3 class="display-6 text-primary">
                2022
            </h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <h4>
                        Exploring User Authentication with Windows Hello in a Small Business Environment
                    </h4>
                    <div class="lead">
                        <u>Florian M. Farke</u>, Leona Lassak, Jannis Pinter, and Markus Dürmuth
                    </div>
                    <p>
                        Symposium on Usable Privacy and Security (SOUPS&nbsp;&rsquo;22)
                        <br>
                        Boston, Massachusetts, USA &middot; August 7–9, 2022 &middot; Acceptance: 27.8 %
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/farke-22-windows.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexFarke22Windows"
                           role="button" aria-expanded="false" aria-controls="bibtexFarke22Windows">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="assets/slides/farke-22-windows-soups22.pdf"
                           target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                    </p>
                    <div class="collapse" id="bibtexFarke22Windows">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/farke-22-windows.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                                <!--                                        <button class="btn btn-link"-->
                                <!--                                                data-btn-copy="farke-2022-windows"-->
                                <!--                                                aria-label="Copy BibTeX Entry to clipboard"-->
                                <!--                                                data-bs-original-title="Copy to clipboard">-->
                                <!--                                            <i class="fa fa-clipboard"></i>-->
                                <!--                                        </button>-->
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/farke-22-windows.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        POSTER: Apps Against the Spread: Privacy Implications and User Acceptance of COVID-19-Related Smartphone Apps on Three Continents
                    </h4>
                    <div class="lead">
                        Christine Utz, Steffen Becker, Theodor Schnitzler, <u>Florian M. Farke</u>, Franziska Herbert, Leonie Schaewitz, Martin Degeling, and Markus Dürmuth
                    </div>
                    <p>
                        Symposium on Usable Privacy and Security (SOUPS&nbsp;&rsquo;22)
                        <br>
                        Boston, Massachusetts, USA &middot; August 7–9, 2022
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/poster/utz-22-poster-corona-apps.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Poster
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexUtz22PosterCoronaApps"
                           role="button" aria-expanded="false" aria-controls="bibtexUtz22PosterCoronaApps">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="assets/poster/utz-22-poster-corona-apps-abstract.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Abstract
                        </a>
                    </p>
                    <div class="collapse" id="bibtexUtz22PosterCoronaApps">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/utz-22-poster-corona-apps.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/utz-22-poster-corona-apps.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        Die Nutzung von Smartphone-Apps zur Eindämmung von COVID-19 in Deutschland
                    </h4>
                    <div class="lead">
                        Martin Degeling, Christine Utz, <u>Florian M. Farke</u>, Franziska Herbert, Leonie Schaewitz, Marvin Kowalewski, Steffen Becker, Theodor Schnitzler, and Markus Dürmuth
                    </div>
                    <p>
                        Symposium on Usable Privacy and Security (SOUPS&nbsp;&rsquo;22)
                        <br>
                        Dennis Krämer, Joschka Haltaufderheide, Jochen Vollmann (Hg.) &middot; Transcript Verlag &middot; July 4, 2022
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/degeling-22-smartphone-apps.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexDegeling22SmartphoneApps"
                           role="button" aria-expanded="false" aria-controls="bibtexDegeling22SmartphoneApps">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm"
                           href="https://www.transcript-verlag.de/978-3-8376-5924-5/technologien-der-krise/?number=978-3-8394-5924-9&c=310000096"
                           target="_blank">
                            <i class="fas fa-book"></i> Edited Volume
                        </a>
                    </p>
                    <div class="collapse" id="bibtexDegeling22SmartphoneApps">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/degeling-22-smartphone-apps.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/degeling-22-smartphone-apps.bib"></include></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h3 class="display-6 text-primary">
                2021
            </h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <h4>
                        Vision: Developing a Broad Usable Security & Privacy Questionnaire
                    </h4>
                    <div class="lead">
                        Franziska Herbert, <u>Florian M. Farke</u>, Marvin Kowalewski, and Markus Dürmuth
                    </div>
                    <p>
                        European Workshop on Usable Security (EuroUSEC&nbsp;&rsquo;21)
                        <br>
                        Virtual Conference &middot; October 11–12, 2021
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/herbert-21-questionnaire.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexHerbert21Questionnaire"
                           role="button" aria-expanded="false" aria-controls="bibtexHerbert21Questionnaire">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="https://eurousec2021.secuso.org/videos/technical_paper_session_2_methods_in_usable_security_privacy_research/EuroUSEC2021_s2_t4.mp4"
                           target="_blank">
                            <i class="fas fa-play"></i> Talk
                        </a>
                        <a class="btn btn-secondary btn-sm" href="assets/slides/herbert-21-questionnaire-eurousec21.pdf"
                           target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                    </p>
                    <div class="collapse" id="bibtexHerbert21Questionnaire">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/herbert-21-questionnaire.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/herbert-21-questionnaire.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        Are Privacy Dashboards Good for End Users? Evaluating User Perceptions and Reactions to
                        Google’s My Activity
                    </h4>
                    <div class="lead">
                        <u>Florian M. Farke</u>, David G. Balash, Maximilian Golla, Markus Dürmuth, and Adam J.
                        Aviv
                    </div>
                    <p>
                        USENIX Security Symposium (USENIX Sec.&nbsp;&rsquo;21)
                        <br>
                        Virtual Conference &middot; August 11–13, 2021 &middot; Acceptance: 18.7 %
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/farke-21-privacy-dashboads.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexFarke21PrivacyDashboards"
                           role="button" aria-expanded="false" aria-controls="bibtexFarke21PrivacyDashboards">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="https://www.youtube.com/watch?v=I6QuSSoO4q4"
                           target="_blank">
                            <i class="fab fa-youtube"></i> Talk
                        </a>
                        <a class="btn btn-secondary btn-sm"
                           href="assets/slides/farke-21-privacy-dashboads-usenix21.pdf" target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                        <a class="btn btn-secondary btn-sm"
                           href="https://gwusec.seas.gwu.edu/are-privacy-dashboards-good/index.html"
                           target="_blank">
                            <i class="fas fa-external-link-alt"></i> Website
                        </a>
                    </p>
                    <div class="collapse" id="bibtexFarke21PrivacyDashboards">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/farke-21-privacy-dashboads.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/farke-21-privacy-dashboads.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        Apps Against the Spread: Privacy Implications and User Acceptance of COVID-19-Related Smartphone Apps on Three Continents
                    </h4>
                    <div class="lead">
                        Christine Utz, Steffen Becker, Theodor Schnitzler, <u>Florian M. Farke</u>, Franziska Herbert, Leonie Schaewitz, Martin Degeling, and Markus Dürmuth
                    </div>
                    <p>
                        ACM Conference on Human Factors in Computing Systems (CHI&nbsp;&rsquo;21)
                        <br>
                        Virtual Conference &middot; May 8–13, 2021 &middot; Acceptance: 26.3 %
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/utz-21-corona-apps.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexUtz21CoronaApps"
                           role="button" aria-expanded="false" aria-controls="bibtexUtz21CoronaApps">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="https://www.youtube.com/watch?v=X9MQKE5N7hc"
                           target="_blank">
                            <i class="fab fa-youtube"></i> Talk
                        </a>
                        <a class="btn btn-secondary btn-sm" href="assets/slides/utz-21-corona-apps-chi21.pdf"
                           target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                    </p>
                    <div class="collapse" id="bibtexUtz21CoronaApps">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/utz-21-corona-apps.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/utz-21-corona-apps.bib"></include></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h3 class="display-6 text-primary">
                2020
            </h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <h4>
                        &ldquo;You still use the password after all&rdquo; &ndash; Exploring FIDO2 Security Keys in a Small Company
                    </h4>
                    <div class="lead">
                        <u>Florian M. Farke</u>, Lennart Lorenz, Theodor Schnitzler, Philipp Markert, and Markus Dürmuth
                    </div>
                    <p>
                        Symposium on Usable Privacy and Security (SOUPS&nbsp;&rsquo;20)
                        <br>
                        Virtual Conference &middot; August 7–11, 2020 &middot; Acceptance: 19.8 %
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/farke-20-fido2.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexFarke20Fido2"
                           role="button" aria-expanded="false" aria-controls="bibtexFarke20Fido2">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="https://www.youtube.com/watch?v=BB41fGAQZws"
                           target="_blank">
                            <i class="fab fa-youtube"></i> Talk
                        </a>
                        <a class="btn btn-secondary btn-sm"
                           href="assets/slides/farke-20-fido2-soups20.pdf" target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                    </p>
                    <div class="collapse" id="bibtexFarke20Fido2">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/farke-20-fido2.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/farke-20-fido2.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        Exploring User Perceptions of Deletion in Mobile Instant Messaging Applications
                    </h4>
                    <div class="lead">
                        Theodor Schnitzler, Christine Utz, <u>Florian M. Farke</u>, Christina Pöpper, and Markus Dürmuth
                    </div>
                    <p>
                        Journal of Cybersecurity
                        <br>
                        Volume 6, Issue 1 &middot; January 30, 2020
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/schnitzler-20-instant-messagers.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexSchnitzler20InstantMessagers"
                           role="button" aria-expanded="false" aria-controls="bibtexSchnitzler20InstantMessagers">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>

                    </p>
                    <div class="collapse" id="bibtexSchnitzler20InstantMessagers">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/schnitzler-20-instant-messagers.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/schnitzler-20-instant-messagers.bib"></include></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h3 class="display-6 text-primary">
                2019
            </h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <h4>
                        Work in Progress: The European &ldquo;Right To be Forgotten&rdquo; &ndash; Legal and Technical Challenges of Search Engines Complying With The Right to Erasure
                    </h4>
                    <div class="lead">
                        Jan Rensinghoff, <u>Florian M. Farke</u>, Markus Dürmuth, and Tobias Gostomzyk
                    </div>
                    <p>
                        AoIR Annual Conference (AoIR&nbsp;&rsquo;19)
                        <br>
                        Brisbane, Australia &middot; October 2-5, 2019
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/rensinghoff-19-wip.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexRensinghoff19Wip"
                           role="button" aria-expanded="false" aria-controls="bibtexRensinghoff19Wip">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="assets/slides/rensinghoff-19-wip-aoir19.pdf"
                           target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                    </p>
                    <div class="collapse" id="bibtexRensinghoff19Wip">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/rensinghoff-19-wip.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/rensinghoff-19-wip.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        Recht auf Vergessen
                    </h4>
                    <div class="lead">
                        <u>Florian M. Farke</u>, Jan Rensinghoff, Markus Dürmuth, and Tobias Gostomzyk
                    </div>
                    <p>
                        Datenschutz und Datensicherheit (DuD)
                        <br>
                        Volume 43, Issue 11 &middot; November 11, 2019
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/farke-19-recht-vergessen.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexFarke19RechtVergessen"
                           role="button" aria-expanded="false" aria-controls="bibtexFarke19RechtVergessen">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>

                    </p>
                    <div class="collapse" id="bibtexFarke19RechtVergessen">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/farke-19-recht-vergessen.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/farke-19-recht-vergessen.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        View The Email to Get Hacked: Attacking SMS-Based Two-Factor Authentication
                    </h4>
                    <div class="lead">
                        Philipp Markert, <u>Florian M. Farke</u>, and Markus Dürmuth
                    </div>
                    <p>
                        Who Are You?! Adventures in Authentication Workshop (WAY&nbsp;&rsquo;19)
                        <br>
                        Santa Clara, California, USA &middot; August 11, 2019
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/makert-19-attacking-two-factor.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexMakert19AttackingTwoFactor"
                           role="button" aria-expanded="false" aria-controls="bibtexMakert19AttackingTwoFactor">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="assets/slides/makert-19-attacking-two-factor.pdf"
                           target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                    </p>
                    <div class="collapse" id="bibtexMakert19AttackingTwoFactor">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/makert-19-attacking-two-factor.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/makert-19-attacking-two-factor.bib"></include></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h3 class="display-6 text-primary">
                2018
            </h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <h4>
                        POSTER: User Perception and Expectations on Deleting Instant Messages&mdash;or&mdash;&ldquo;What Happens If I Press This Button?&rdquo;
                    </h4>
                    <div class="lead">
                        Theodor Schnitzler, Christine Utz, <u>Florian M. Farke</u>, Christina Pöpper, and Markus Dürmuth
                    </div>
                    <p>
                        Symposium on Usable Privacy and Security (SOUPS&nbsp;&rsquo;18)
                        <br>
                        Baltimore, Maryland, USA &middot; August 12–14, 2018
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/poster/schnitzler-18-poster-instant-messagers.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Poster
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexSchnitzler18PosterInstantMessagers"
                           role="button" aria-expanded="false" aria-controls="bibtexSchnitzler18PosterInstantMessagers">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>

                    </p>
                    <div class="collapse" id="bibtexSchnitzler18PosterInstantMessagers">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/schnitzler-18-poster-instant-messagers.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/schnitzler-18-poster-instant-messagers.bib"></include></code></pre>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>
                        User Perception and Expectations on Deleting Instant Messages&mdash;or&mdash;&ldquo;What Happens If I Press This Button?&rdquo;
                    </h4>
                    <div class="lead">
                        Theodor Schnitzler, Christine Utz, <u>Florian M. Farke</u>, Christina Pöpper, and Markus Dürmuth
                    </div>
                    <p>
                        European Workshop on Usable Security (EuroUSEC&nbsp;&rsquo;18)
                        <br>
                        London, United Kingdom &middot; April 23, 2018
                    </p>
                    <p>
                        <a class="btn btn-secondary btn-sm" href="assets/papers/schnitzler-18-instant-messagers.pdf"
                           target="_blank">
                            <i class="fas fa-file-pdf"></i> Paper
                        </a>
                        <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" href="#bibtexSchnitzler18InstantMessagers"
                           role="button" aria-expanded="false" aria-controls="bibtexSchnitzler18InstantMessagers">
                            <i class="fas fa-quote-left"></i> Cite
                        </a>
                        <a class="btn btn-secondary btn-sm" href="assets/slides/schnitzler-18-instant-messagers-eurousec18.pdf"
                           target="_blank">
                            <i class="fas fa-chalkboard-teacher"></i> Slides
                        </a>
                    </p>
                    <div class="collapse" id="bibtexSchnitzler18InstantMessagers">
                        <div class="card text-bg-light">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <small class="font-monospace text-muted text-uppercase">BibTeX Entry</small>
                                <a class="btn btn-card-header btn-sm" href="assets/bibtex/schnitzler-18-instant-messagers.bib"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Download BibTeX"
                                   target="_blank">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <pre class="card-body mb-0"><code><include
                                    src="src/assets/bibtex/schnitzler-18-instant-messagers.bib"></include></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
