<!-- Teaching -->
<section class="col" id="teaching">
    <h2 class="display-5 border-bottom">
        Teaching
    </h2>
    <div class="row row-cols-1 g-3">
        <div class="col">
            <h3>Supervised Theses</h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <ul>
                        <li>
                            Mona Albluwi, &ldquo;<em>User Perception And Adoption of COVID-19 Related Applications in
                            Saudi Arabia</em>,&rdquo; Master's Thesis, Ruhr University Bochum, 2022
                        </li>
                        <li>
                            Jannis Pinter, &ldquo;<em>Prospects and Challenges of Biometric Authentication with Windows
                            Hello in a Small Business</em>,&rdquo; Master's Thesis, Ruhr University Bochum, 2022
                        </li>
                        <li>
                            Jonas Speck, &ldquo;<em>Analysis of the Authentication Landscape for a Critical
                            Infrastructure Company</em>,&rdquo; Bachelor's Thesis, Ruhr University Bochum, 2021
                        </li>
                        <li>
                            Nils H. Völzke, &ldquo;<em>Instagram in Retrospect: A User Study on Digital Forgetting in an
                            Online Social Network</em>,&rdquo; Master's Thesis, Ruhr University Bochum, 2021
                        </li>
                        <li>
                            Leona Lassak, &ldquo;<em>Who wants WebAuthn? User Acceptance of Biometrics-Based FIDO2</em>,&rdquo;
                            Master's Thesis, Ruhr University Bochum, 2021
                        </li>
                        <li>
                            Jan Rutenkolk, &ldquo;<em>Implementierung Digitalen Vergessens am Beispiel Instagram</em>,&rdquo;
                            Bachelor's Thesis, Ruhr University Bochum, 2020
                        </li>
                        <li>
                            Daniel Theis, &ldquo;<em>Do I Want to Forget? On the Concept and Context of Digital
                            Forgetting</em>,&rdquo; Master's Thesis, Ruhr University Bochum, 2019
                        </li>
                        <li>
                            Lennart Lorenz, &ldquo;<em>Is It Actually Any Good in Practice?: Evaluating FIDO2 Security
                            Keys in a Corporate Context</em>,&rdquo; Master's Thesis, Ruhr University Bochum, 2019
                        </li>
                        <li>
                            Maria Kober, &ldquo;<em>Digital Oblivion in Online Social Networks: A Necessity or Just Nice
                            to Have?</em>,&rdquo; Master's Thesis, Ruhr University Bochum, 2019
                        </li>
                        <li>
                            Hosam Elkoulak, &ldquo;<em>Automating the &ldquo;Right to Be Forgotten&rdquo;: an Approach
                            for Machine-Aided Reasoning on the Right to Erasure of the GDPR</em>,&rdquo; Master's
                            Thesis, Ruhr University Bochum, 2019
                        </li>
                        <li>
                            Julian Knorr, &ldquo;<em>Automatisierung von juristischen Entscheidungen im Datenschutzrecht
                            am Beispiel des Rechts auf Vergessenwerden</em>,&rdquo; Bachelor's Thesis, Ruhr University
                            Bochum, 2018
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <h3>Lectures</h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <ul>
                        <li>
                            Ruhr University Bochum &middot; <em>Usable Security &amp; Privacy</em> &middot; Summer 2021 (Co-instructor; 34 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Usable Security &amp; Privacy</em> &middot; Summer 2020 (Co-instructor; 48 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Introduction to Usable Security &amp; Privacy</em> &middot; Winter 2019/20 (Co-instructor; 79 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Usable Security &amp; Privacy</em> &middot; Summer 2019 (Co-instructor; 54 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Introduction to Usable Security &amp; Privacy</em> &middot; Winter 2018/19 (Co-instructor; 53 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Usable Security &amp; Privacy</em> &middot; Summer 2018 (Co-instructor; 49 Students)
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col">
            <h3>Seminars</h3>
            <div class="row row-cols-1 gy-3">
                <div class="col">
                    <ul>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Usable Security and Privacy Research</em> &middot; Winter 2021/22 (Advisor; 3 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Usable Security and Privacy Research</em> &middot; Summer 2021 (Advisor; 3 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Usable Security and Privacy Research</em> &middot; Winter 2020/21 (Advisor; 3 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Usable Security and Privacy Research</em> &middot; Summer 2020 (Advisor; 3 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Human Centered Security and Privacy</em> &middot; Winter 2019/20 (Advisor; 2 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Human Centered Security and Privacy</em> &middot; Summer 2019 (Advisor; 2 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Human Centered Security and Privacy</em> &middot; Summer 2018 (Advisor; 2 Students)
                        </li>
                        <li>
                            Ruhr University Bochum &middot; <em>Seminar Human Centered Security and Privacy</em> &middot; Winter 2017/18 (Advisor; 2 Students)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
