//
// Fontawesome
//
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts/";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Pre-state grayscale colors used in other variables
$gray-800: #343a40;
// Override Bootstrap default state colors
//$primary: #bd5d38;

// Override Bootstrap typography variables
//$font-family-base: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//"Segoe UI Symbol", "Noto Color Emoji";

//$headings-font-family: "Saira Extra Condensed", -apple-system,
//BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
//"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//$headings-font-weight: 700;
//
//$headings-color: $gray-800;
//
//$h1-font-size: 6rem;
//$h2-font-size: 3.5rem;
//$h3-font-size: 2rem;

// Spacing variable to set the sidebar base width
$sidebar-base-width: 17rem;
// Spacing variable to add padding to the top of the body element that matches the height of the navbar
$navbar-base-height: 3.375rem;



// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";


body {
  padding-top: $navbar-base-height;
  color: $gray-600;
}

@include media-breakpoint-up(lg) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  line-height: 1;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}



.btn-fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
}

// Components
@import "./scss/sidenav.scss";

// Sections
@import "./scss/resume-section.scss";
