.ff-sidenav {
    &.offcanvas-xl {
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: var(--bs-offcanvas-zindex);

        &.offcanvas-start {
            top: 0;
            left: 0;
            width: var(--bs-offcanvas-width);
            border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        }

        & .offcanvas-body {
            flex-grow: 1;
            padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
            display: unset;
            overflow-y: auto;
        }
    }

    &.container-fluid,
    &.container {
      @include media-breakpoint-up(xl) {
            margin-left: $offcanvas-horizontal-width;
        }
    }
}
